:8080 {
    root * /srv
    encode zstd gzip

    handle /api/v1/* {
        reverse_proxy api:8000
    }

    handle /healthz {
        respond 200
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
