{
	auto_https disable_redirects
}

https://{$STOCK_PROFILER_GATEWAY_HOSTNAME}:8443 {
	tls /run/secrets/gateway_tls_certificate /run/secrets/gateway_tls_private_key

	root * /srv
	encode zstd gzip

	handle /api/v1/* {
		reverse_proxy api:8000
	}

	handle /healthz {
		respond 200
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
